.cooperation-banner{
    .title_2 {
        font-size: 84px;
        font-family: $prata;
        font-weight: 400;
        text-transform: uppercase;
    }
    .img-box{
        img{
            margin-top: 260px;
        }
    }
}