<div class="about-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about.svg" alt="" class="img-fluid" data-aos="fade-up"  data-aos-delay="100">
            </div>
            <div class="col-lg-6">
                <div class="post-item">
                    <div class="title_1">О НАС</div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
