<div class="advantages">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="advantages-item">
                    <div class="img-box">
                        <img src="assets/img/advatages-clock.svg" class="img-fluid" alt="clock" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="100">
                    </div>
                    <div class="text-box">
                        Четкое планирование
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                    <div class="advantages-item">
                    <div class="img-box">
                        <img src="assets/img/advatages-track.svg" class="img-fluid" alt="track" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="300">
                    </div>
                    <div class="text-box">
                        Всегда рядом 
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                    <div class="advantages-item">
                    <div class="img-box">
                        <img src="assets/img/advatages-admin.svg" class="img-fluid" alt="admin" data-aos="fade-up"
                        data-aos-anchor-placement="center-bottom" data-aos-delay="500">
                    </div>
                    <div class="text-box">
                        Клиентоориентированность    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-border"></div>
</div>