<div class="banner-template right-column-first img-left">
    <div class="container">
        <div class="text-box" data-aos="fade-right">
            <p>”Сложить товары в коробку” - что может быть проще? Думает каждый новичок в сфере форвардинга. </p>
            <p>Только с опытом приходит понимание множества нюансов, которые необходимо учесть для того, чтобы вещи уехали в безопасности и не набрали уйму лишнего веса в процессе упаковки.</p>
        </div>
        <div class="img-box">
             <img src="assets/img/banner-forwarding.jpg" class="img-fluid" alt="banner-forwarding"  data-aos="fade-up"
             data-aos-anchor-placement="center-bottom" data-aos-delay="300">
        </div>
    </div>
</div>