<div class="feedback">
   <div class="container">
       <div class="feedback__title">обратная связь</div>
       <div class="decoration-right-square"></div>
       <div class="feedback__subtitle">Мы предлагаем выгодные условия сотрудничества. 
        Будем рады начать наше с Вами сотрудничество и ответить на любые Ваши вопросы. Остались вопросы? Напишите нам.</div>
       <div class="feedback-row">
            <div class="img-box">
               <img src="assets/img/questions.svg" class="img-fluid" alt="questions">
            </div>
            @@include('template-form.html')
       </div>
   </div>
</div>