<footer>
    <div class="footer-row">
        <a class="footer-logo" href="index.html">
          <img src="assets/img/logo.svg" alt="logo">
        </a>
        <div class="footer-copyright">Copyright </div>
        <nav class="footer-socials">
            <ul class="socials">
                <li class="socials__item"><a href="#" target="_blank" title="facebook"><img src="assets/img/icon-facebook.svg" alt="facebook"></a></li>
                <li class="socials__item"><a href="#" target="_blank" title="instagram"><img src="assets/img/icon-instagram.svg" alt="instagram"></a></li>
                <li class="socials__item"><a href="#" target="_blank" title="twitter"><img src="assets/img/icon-twitter.svg" alt="twitter"></a></li>
            </ul>
        </nav>
    </div>

 
</footer>
<ul class="link-mesengers d-none">
    <li><a href="#"><img src="assets/img/link-watsapp.svg" class="img-fluid" alt="link-messenger"></a></li>
    <li><a href="#"><img src="assets/img/link-messenger.svg" class="img-fluid" alt="link-messenger"></a></li>
</ul>
@@include('modals.html')
<script src="assets/js/bootstrap.min.js"></script>
<script defer src="assets/js/slick.min.js"></script>
<script async src="assets/js/jquery.fancybox.min.js"></script>
<script defer src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script async src="assets/js/global.js"></script>
<script async src="assets/js/custom.js"></script>
</body>

</html>
