<div class="magazine">
  <div class="container">
    <div class="magazine__title">
        Магазины
    </div>
    <div class="magazine__description">
        От детских игрушек до гаджетов, от косметики до електронной техиники, от инструментов до спортивной одежды - все это можно заказать у нас. Пожалуйста, свяжитесь с нашими менеджерами и мы ответим на Ваши вопросы.
    </div>
    <div class="magazine__grid">
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-1.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="100" alt="magazine-1">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-2.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="150" alt="magazine-2">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-3.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="200" alt="magazine-3">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-4.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="250" alt="magazine-4">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-5.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="300" alt="magazine-5">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-6.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="350" alt="magazine-6">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-7.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="400" alt="magazine-7">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-8.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="450" alt="magazine-8">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-9.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="500" alt="magazine-9">
        </a>
        <a href="#" class="magazine__grid-item">
            <img src="assets/img/magazine-10.png" class="img-fluid"  data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-delay="550" alt="magazine-10">
        </a>
    </div>
    <div class="magazine__btn-row">
        <a href="index.html" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 277 83" fill="none">
                <path class="path-btn " d="M153.01 10.2409C69.0697 10.6099 -0.0347579 28.4728 1.0726 51.4552C2.17983 74.4377 50.648 84.655 126.652 80.9313C203.588 74.622 276.395 61.0029 275.288 38.0204C274.581 23.343 251.592 12.9586 221.813 6.87003C194.91 1.36947 139.403 -2.4866 90.8849 7.00141" stroke="#0164FF" stroke-width="2" stroke-linecap="round"></path>
            </svg>
            Смотреть ещё
        </a>
    </div>

  </div>
</div>