<div class="price-services">
    <div class="container">
        <div class="price-services__title">
            Стоимость услуг
        </div>
        <div class="price-services__subtitle">
            <p> Мы удаляем большие коробки и наполнители - вы экономите за счет уменьшения веса и объема посылки до 70%.</p>
            <p> Отправляем около 2000 - 10000 кг в месяц.</p>
        </div>


        <div class="price-services__tab-container">
            <div class="price-services__nav-pills nav   nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Россия </button>
              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Казахстан</button>
              <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Киргизстан </button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  <div class="row">
                      <div class="col-xl-6">
                          <div class="services-card">
                              <div class="services-card__title">
                                    <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                              </div>
                              <ul class="services-card__description">
                                  <li>Стоимость: <b>14$/кг</b></li>
                                  <li>Срок доставки: <b>25-30 дней</b></li>
                                  <li>Максимальный вес: <b>30 кг</b></li>
                                  <li>Последняя миля: <b>Курьер ТК</b></li>
                                  <li>Таможня: <b>Карго</b></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="services-card">
                            <div class="services-card__title">
                                  <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                            </div>
                            <ul class="services-card__description">
                                <li>Стоимость: <b>14$/кг</b></li>
                                <li>Срок доставки: <b>25-30 дней</b></li>
                                <li>Максимальный вес: <b>30 кг</b></li>
                                <li>Последняя миля: <b>Курьер ТК</b></li>
                                <li>Таможня: <b>Карго</b></li>
                            </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="services-card">
                            <div class="services-card__title">
                                  <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                            </div>
                            <ul class="services-card__description">
                                <li>Стоимость: <b>14$/кг</b></li>
                                <li>Срок доставки: <b>25-30 дней</b></li>
                                <li>Максимальный вес: <b>30 кг</b></li>
                                <li>Последняя миля: <b>Курьер ТК</b></li>
                                <li>Таможня: <b>Карго</b></li>
                            </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="services-card">
                            <div class="services-card__title">
                                  <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                            </div>
                            <ul class="services-card__description">
                                <li>Стоимость: <b>14$/кг</b></li>
                                <li>Срок доставки: <b>25-30 дней</b></li>
                                <li>Максимальный вес: <b>30 кг</b></li>
                                <li>Последняя миля: <b>Курьер ТК</b></li>
                                <li>Таможня: <b>Карго</b></li>
                            </ul>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">    <div class="row">
                <div class="col-xl-6">
                    <div class="services-card">
                        <div class="services-card__title">
                              <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                        </div>
                        <ul class="services-card__description">
                            <li>Стоимость: <b>14$/кг</b></li>
                            <li>Срок доставки: <b>25-30 дней</b></li>
                            <li>Максимальный вес: <b>30 кг</b></li>
                            <li>Последняя миля: <b>Курьер ТК</b></li>
                            <li>Таможня: <b>Карго</b></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6">
                  <div class="services-card">
                      <div class="services-card__title">
                            <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                      </div>
                      <ul class="services-card__description">
                          <li>Стоимость: <b>14$/кг</b></li>
                          <li>Срок доставки: <b>25-30 дней</b></li>
                          <li>Максимальный вес: <b>30 кг</b></li>
                          <li>Последняя миля: <b>Курьер ТК</b></li>
                          <li>Таможня: <b>Карго</b></li>
                      </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="services-card">
                      <div class="services-card__title">
                            <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                      </div>
                      <ul class="services-card__description">
                          <li>Стоимость: <b>14$/кг</b></li>
                          <li>Срок доставки: <b>25-30 дней</b></li>
                          <li>Максимальный вес: <b>30 кг</b></li>
                          <li>Последняя миля: <b>Курьер ТК</b></li>
                          <li>Таможня: <b>Карго</b></li>
                      </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="services-card">
                      <div class="services-card__title">
                            <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                      </div>
                      <ul class="services-card__description">
                          <li>Стоимость: <b>14$/кг</b></li>
                          <li>Срок доставки: <b>25-30 дней</b></li>
                          <li>Максимальный вес: <b>30 кг</b></li>
                          <li>Последняя миля: <b>Курьер ТК</b></li>
                          <li>Таможня: <b>Карго</b></li>
                      </ul>
                  </div>
                </div>
            </div></div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">    <div class="row">
                <div class="col-xl-6">
                    <div class="services-card">
                        <div class="services-card__title">
                              <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                        </div>
                        <ul class="services-card__description">
                            <li>Стоимость: <b>14$/кг</b></li>
                            <li>Срок доставки: <b>25-30 дней</b></li>
                            <li>Максимальный вес: <b>30 кг</b></li>
                            <li>Последняя миля: <b>Курьер ТК</b></li>
                            <li>Таможня: <b>Карго</b></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6">
                  <div class="services-card">
                      <div class="services-card__title">
                            <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                      </div>
                      <ul class="services-card__description">
                          <li>Стоимость: <b>14$/кг</b></li>
                          <li>Срок доставки: <b>25-30 дней</b></li>
                          <li>Максимальный вес: <b>30 кг</b></li>
                          <li>Последняя миля: <b>Курьер ТК</b></li>
                          <li>Таможня: <b>Карго</b></li>
                      </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="services-card">
                      <div class="services-card__title">
                            <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                      </div>
                      <ul class="services-card__description">
                          <li>Стоимость: <b>14$/кг</b></li>
                          <li>Срок доставки: <b>25-30 дней</b></li>
                          <li>Максимальный вес: <b>30 кг</b></li>
                          <li>Последняя миля: <b>Курьер ТК</b></li>
                          <li>Таможня: <b>Карго</b></li>
                      </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="services-card">
                      <div class="services-card__title">
                            <img src="assets/img/services-logo-1.svg" class="img-fluid" alt="services-logo">      East Cargo
                      </div>
                      <ul class="services-card__description">
                          <li>Стоимость: <b>14$/кг</b></li>
                          <li>Срок доставки: <b>25-30 дней</b></li>
                          <li>Максимальный вес: <b>30 кг</b></li>
                          <li>Последняя миля: <b>Курьер ТК</b></li>
                          <li>Таможня: <b>Карго</b></li>
                      </ul>
                  </div>
                </div>
            </div></div>
            </div>
          </div>
    </div>
</div>
