<div class="related-posts">
    <div class="related-posts__title">
        пОХОЖИЕ ПУБЛИКЦИИ
    </div>
    <div class="blog-grid">
        <div class="blog-item">
            <div class="img-box">
                <img src="assets/img/search-result-1.jpg" class="img-fluid" alt="search-result">
            </div>
            <div class="blog-item-title">Доставка <span class="color-blue">из США</span> под ключ</div>
            <div class="blog-item-description">
                    Мы задумали наш сервис быть максимально удобным для пользователей, тем самым ограничив из США собственную возможность быть посредником массового характера.
            </div>
        </div>
        <div class="blog-item">
            <div class="img-box">
                <img src="assets/img/search-result-2.jpg" class="img-fluid" alt="search-result">
            </div>
            <div class="blog-item-title">Доставка <span class="color-blue">из США</span> под ключ</div>
            <div class="blog-item-description">
                Мы задумали наш сервис быть максимально удобным для пользователей, тем самым ограничив из США собственную возможность быть посредником массового характера.
            </div>
        </div>
    </div>
</div>
