 <div class="storage">
     <div class="container">
         <div class="storage__title">
             Хранение
         </div>
         <div class="storage__content right-img">
             <div class="text-box"> 
                 <h3>Сколько времени ждать посылку?</h3>
                 <p>Налаженная морская логистика позволяет нашей команде специалистов с легкостью справляться с задачами разной степени сложности. Учитывая многоэтапность всей процедуры, мы обеспечиваем тщательный контроль за партиями товара на каждом из этапов.

                 </p>
                 <p>
                     Такой особый подход позволяет нам не только гарантировать сохранность груза, но и также браться за решение нестандартных задач, предлагая выгодные способы и методы. Для каждого типа груза мы применяем определенные технологии хранения и последующей перевозки.
                 </p>
             </div>
             <div class="img-box">
                 <img src="assets/img/storage-1.jpg" class="img-fluid"  alt="storage-1"  data-aos="fade-right"
                 data-aos-anchor-placement="center-bottom" data-aos-delay="200">
             </div>
        </div>
      
         <div class="storage__content left-img">
            <div class="img-box" >
                <img src="assets/img/storage-2.jpg" class="img-fluid"  alt="storage-2"  data-aos="fade-left"
                data-aos-anchor-placement="center-bottom" data-aos-delay="200">
            </div>
            <div class="text-box"> 
                <h3>Сколько времени ждать посылку?</h3>
                <p>
                    Налаженная морская логистика позволяет нашей команде специалистов с легкостью справляться с задачами разной степени сложности. Учитывая многоэтапность всей процедуры, мы обеспечиваем тщательный контроль за партиями товара на каждом из этапов.
                </p>
                <p>
                    Такой особый подход позволяет нам не только гарантировать сохранность груза, но и также браться за решение нестандартных задач, предлагая выгодные способы и методы. Для каждого типа груза мы применяем определенные технологии хранения и последующей перевозки.
                </p>
            </div>
         
            </div>
        </div>
     </div>
    </div>
