<div class="why-are-we">



    <div class="container responsive-tabs ">
        <div class="why-are-we__title">почему мы?</div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-A" href="#pane-A" class="nav-link custom-link active" data-bs-toggle="tab" role="tab">
                <div class="img-box"  data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom"  data-aos-delay="100">
                    <img src="assets/img/tab-item-1.svg" class="img-fluid" alt="tab-item-1">
                </div>
                <div class="custom-link__title">
                    Подготовка, обработка и комплектация
                </div>
            </a>
            </li>
            <li class="nav-item">
                <a id="tab-B" href="#pane-B" class="nav-link custom-link" data-bs-toggle="tab" role="tab">
                <div class="img-box"  data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom"  data-aos-delay="200">
                    <img src="assets/img/tab-item-2.svg" class="img-fluid" alt="tab-item-2">
                </div>
                <div class="custom-link__title">
                    Оптимизация упаковки
                </div>
            </a>
            </li>
            <li class="nav-item">
                <a id="tab-C" href="#pane-C" class="nav-link custom-link" data-bs-toggle="tab" role="tab">
                <div class="img-box"  data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom"  data-aos-delay="300">
                    <img src="assets/img/tab-item-3.svg" class="img-fluid" alt="tab-item-3">
                </div>
                <div class="custom-link__title">
                    Быстрая отправка
                </div>
            </a>
            </li>
            <li class="nav-item">
                <a id="tab-D" href="#pane-D" class="nav-link custom-link" data-bs-toggle="tab" role="tab">
                <div class="img-box"  data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom"  data-aos-delay="400">
                    <img src="assets/img/tab-item-4.svg" class="img-fluid" alt="tab-item-4">
                </div>
                <div class="custom-link__title">
                    Ответственное хранение
                </div>
            </a>
            </li>
            <li class="nav-item">
                <a id="tab-E" href="#pane-E" class="nav-link custom-link" data-bs-toggle="tab" role="tab">
                <div class="img-box"  data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom"  data-aos-delay="500">
                    <img src="assets/img/tab-item-5.svg" class="img-fluid" alt="tab-item-5">
                </div>
                <div class="custom-link__title">
                    Проверка на брак
                </div>
            </a>
            </li>
        </ul>
        <div id="content" class="tab-content" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                <div class="card-header" role="tab" id="heading-A">

                    <a data-bs-toggle="collapse" href="#collapse-A" class="custom-link collapsed" aria-expanded="false" aria-controls="collapse-A">
            <div class="img-box aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <img src="assets/img/tab-item-1.svg" class="img-fluid" alt="tab-item-1">
            </div>
            <div class="custom-link__title">
                Подготовка, обработка и комплектация
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 44.3 44.3" style="enable-background:new 0 0 44.3 44.3;" xml:space="preserve">
                <g>
                    <circle class="path-circle" cx="22.1" cy="22.1" r="21"></circle>
                    <path class="path-arrow" d="M28.8,19.3c-0.1-0.1-0.2-0.2-0.3-0.2C28.4,19,28.3,19,28.1,19s-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2   l-4.6,4.6c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.3,0.1-0.4,0.1s-0.3,0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.2l-4.6-4.6   c-0.1-0.1-0.2-0.2-0.3-0.2C16.4,19,16.3,19,16.1,19c-0.1,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.2,0.2-0.3,0.4-0.3,0.7   s0.1,0.5,0.3,0.7l4.6,4.6c0.6,0.6,1.3,0.9,2.1,0.9s1.6-0.3,2.1-0.9l4.6-4.6c0.2-0.2,0.3-0.4,0.3-0.7S29,19.4,28.8,19.3z"></path>
                </g>
            </svg>
        </a>

                </div>
                <div id="collapse-A" class="collapse" data-bs-parent="#content" role="tabpanel" aria-labelledby="heading-A" style="">
                    <div class="card-body"> Контроль точности комплектации заказов для Вашего покупателя. Качественная упаковка, стикеровка и маркировка товара в соответствии с пожеланиями.
                        Упаковка товара осуществляется в пленку различного вида (ПП, ПЭТ, термоусадочную) в коробку либо связка лентой. Перед формированием набора, по требованию, проведем датировку и маркировки.</div>
                </div>
            </div>
            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                <div class="card-header" role="tab" id="heading-B">
                    <a data-bs-toggle="collapse" href="#collapse-B" class="custom-link collapsed" aria-expanded="false" aria-controls="collapse-B">
        <div class="img-box aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <img src="assets/img/tab-item-2.svg" class="img-fluid" alt="tab-item-1">
        </div>
        <div class="custom-link__title">
            Оптимизация упаковки
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 44.3 44.3" style="enable-background:new 0 0 44.3 44.3;" xml:space="preserve">
            <g>
                <circle class="path-circle" cx="22.1" cy="22.1" r="21"></circle>
                <path class="path-arrow" d="M28.8,19.3c-0.1-0.1-0.2-0.2-0.3-0.2C28.4,19,28.3,19,28.1,19s-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2   l-4.6,4.6c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.3,0.1-0.4,0.1s-0.3,0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.2l-4.6-4.6   c-0.1-0.1-0.2-0.2-0.3-0.2C16.4,19,16.3,19,16.1,19c-0.1,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.2,0.2-0.3,0.4-0.3,0.7   s0.1,0.5,0.3,0.7l4.6,4.6c0.6,0.6,1.3,0.9,2.1,0.9s1.6-0.3,2.1-0.9l4.6-4.6c0.2-0.2,0.3-0.4,0.3-0.7S29,19.4,28.8,19.3z"></path>
            </g>
        </svg>
    </a>
                </div>
                <div id="collapse-B" class="collapse" data-bs-parent="#content" role="tabpanel" aria-labelledby="heading-B" style="">
                    <div class="card-body">Мы прекрасно понимаем, что удаленный склад - это часть Вашего бизнеса, поэтому мы стараемся минимизировать Ваши расходы на этом этапе.
                        Наш подход к переупаковке помогает оптимизировать затраты на отправку: удаляем наполнитель и большие коробки для оптимизации размера посылки.</div>
                </div>
            </div>
            <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                <div class="card-header" role="tab" id="heading-C">
                    <a data-bs-toggle="collapse" href="#collapse-C" class="custom-link collapsed" aria-expanded="false" aria-controls="collapse-C">
        <div class="img-box aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <img src="assets/img/tab-item-3.svg" class="img-fluid" alt="tab-item-3">
        </div>
        <div class="custom-link__title">
            Быстрая отправка
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 44.3 44.3" style="enable-background:new 0 0 44.3 44.3;" xml:space="preserve">
            <g>
                <circle class="path-circle" cx="22.1" cy="22.1" r="21"></circle>
                <path class="path-arrow" d="M28.8,19.3c-0.1-0.1-0.2-0.2-0.3-0.2C28.4,19,28.3,19,28.1,19s-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2   l-4.6,4.6c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.3,0.1-0.4,0.1s-0.3,0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.2l-4.6-4.6   c-0.1-0.1-0.2-0.2-0.3-0.2C16.4,19,16.3,19,16.1,19c-0.1,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.2,0.2-0.3,0.4-0.3,0.7   s0.1,0.5,0.3,0.7l4.6,4.6c0.6,0.6,1.3,0.9,2.1,0.9s1.6-0.3,2.1-0.9l4.6-4.6c0.2-0.2,0.3-0.4,0.3-0.7S29,19.4,28.8,19.3z"></path>
            </g>
        </svg>
    </a>
                </div>
                <div id="collapse-C" class="collapse" data-bs-parent="#content" role="tabpanel" aria-labelledby="heading-C" style="">
                    <div class="card-body">У вас “горят сроки”? Вам нужно максимально сократить время доставки или удовлетворить самых требовательных заказчиков, которым “нужно на вчера”?
                        Мы прикладываем максимум усилий для того, чтобы посылка отправилась как можно быстрее.</div>
                </div>
            </div>

            <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
                <div class="card-header" role="tab" id="heading-D">
                    <a data-bs-toggle="collapse" href="#collapse-D" class="custom-link collapsed" aria-expanded="false" aria-controls="collapse-D">
        <div class="img-box aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <img src="assets/img/tab-item-4.svg" class="img-fluid" alt="tab-item-4">
        </div>
        <div class="custom-link__title">
            Ответственное хранение
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 44.3 44.3" style="enable-background:new 0 0 44.3 44.3;" xml:space="preserve">
            <g>
                <circle class="path-circle" cx="22.1" cy="22.1" r="21"></circle>
                <path class="path-arrow" d="M28.8,19.3c-0.1-0.1-0.2-0.2-0.3-0.2C28.4,19,28.3,19,28.1,19s-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2   l-4.6,4.6c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.3,0.1-0.4,0.1s-0.3,0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.2l-4.6-4.6   c-0.1-0.1-0.2-0.2-0.3-0.2C16.4,19,16.3,19,16.1,19c-0.1,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.2,0.2-0.3,0.4-0.3,0.7   s0.1,0.5,0.3,0.7l4.6,4.6c0.6,0.6,1.3,0.9,2.1,0.9s1.6-0.3,2.1-0.9l4.6-4.6c0.2-0.2,0.3-0.4,0.3-0.7S29,19.4,28.8,19.3z"></path>
            </g>
        </svg>
    </a>
                </div>
                <div id="collapse-D" class="collapse" data-bs-parent="#content" role="tabpanel" aria-labelledby="heading-D" style="">
                    <div class="card-body">Соблюдаем все правила хранения и перевозки, проводим мероприятия гарантирующие сохранность Ваших товаров. Наши склады с отоплением, регулировкой температурного режима и вентиляцией, оборудованы видеокамерами и противопожарными системами сигнализаций.</div>
                </div>
            </div>
            <div id="pane-E" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-E">
                <div class="card-header" role="tab" id="heading-E">
                    <a data-bs-toggle="collapse" href="#collapse-E" class="custom-link collapsed" aria-expanded="false" aria-controls="collapse-E">
        <div class="img-box aos-init" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <img src="assets/img/tab-item-5.svg" class="img-fluid" alt="tab-item-5">
        </div>
        <div class="custom-link__title">
            Проверка на брак
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" viewBox="0 0 44.3 44.3" style="enable-background:new 0 0 44.3 44.3;" xml:space="preserve">
            <g>
                <circle class="path-circle" cx="22.1" cy="22.1" r="21"></circle>
                <path class="path-arrow" d="M28.8,19.3c-0.1-0.1-0.2-0.2-0.3-0.2C28.4,19,28.3,19,28.1,19s-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2   l-4.6,4.6c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.3,0.1-0.4,0.1s-0.3,0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.2l-4.6-4.6   c-0.1-0.1-0.2-0.2-0.3-0.2C16.4,19,16.3,19,16.1,19c-0.1,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.2,0.2-0.3,0.4-0.3,0.7   s0.1,0.5,0.3,0.7l4.6,4.6c0.6,0.6,1.3,0.9,2.1,0.9s1.6-0.3,2.1-0.9l4.6-4.6c0.2-0.2,0.3-0.4,0.3-0.7S29,19.4,28.8,19.3z"></path>
            </g>
        </svg>
    </a>
                </div>
                <div id="collapse-E" class="collapse" data-bs-parent="#content" role="tabpanel" aria-labelledby="heading-E" style="">
                    <div class="card-body">Мы стараемся со своей стороны подстраховать Вас от неприятных сюрпризов, поэтому каждую посылку мы проверяем на явный брак. При этом проводим видеофиксацию с оформление необходимых документов.</div>
                </div>
            </div>
        </div>
    </div>
</div>
