<div class="scroll-x">
<table>
    <tr>
        <td>Стоимость: <b>15$/кг</b></td>
        <td>Стоимость: <b>20$/кг</b></td>
        <td>Стоимость: <b>15$/кг</b></td>
        <td>Стоимость: <b>10$/кг</b></td>
    </tr>
    <tr>
        <td>Срок доставки 20 дней</td>
        <td>Срок доставки 30 дней</td>
        <td>Срок доставки 30 дней</td>
        <td>Срок доставки 30 дней</td>
    </tr>
    <tr>
        <td>Срок доставки 20 дней</td>
        <td>Срок доставки 30 дней</td>
        <td>Срок доставки 30 дней</td>
        <td>Срок доставки 30 дней</td>
    </tr>
    <tr>
        <td><span class="color-grey">Недоступно</span></td>
        <td><span class="color-grey">Недоступно</span></td>
        <td><span class="color-grey">Недоступно</span></td>
        <td><span class="color-grey">Недоступно</span></td>
    </tr>
  
</table>
</div>