<div class="template-accordion">
    <div class="container">
        <div class="template-accordion_title">Forwarding</div>
        <div class="accordion" id="accordion-forwarding">
            <div class="accordion-item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <h2 class="accordion-header" id="accordion-forwarding-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-forwarding-collapseOne" aria-expanded="false" aria-controls="accordion-forwarding-collapseOne">
                        Подготовка, обработка и комплектация
                    </button>
                </h2>
                <div id="accordion-forwarding-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordion-forwarding-headingOne" data-bs-parent="#accordion-forwarding">
                    <div class="accordion-body">
                        Контроль точности комплектации заказов для Вашего покупателя. Качественная упаковка, стикеровка и маркировка товара в соответствии с пожеланиями.  
                        Упаковка товара осуществляется в пленку различного вида (ПП, ПЭТ, термоусадочную) в коробку либо связка лентой. Перед формированием набора, по требованию, проведем датировку и маркировки.
                    </div>
                </div>
            </div>
            <div class="accordion-item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <h2 class="accordion-header" id="accordion-forwarding-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-forwarding-collapseTwo" aria-expanded="false" aria-controls="accordion-forwarding-collapseTwo">
                        Оптимизация упаковки
                    </button>
                </h2>
                <div id="accordion-forwarding-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordion-forwarding-headingTwo" data-bs-parent="#accordion-forwarding">
                    <div class="accordion-body">
                        Мы прекрасно понимаем, что удаленный склад - это часть Вашего бизнеса, поэтому мы стараемся минимизировать Ваши расходы на этом этапе. 
                        Наш подход к переупаковке помогает оптимизировать затраты на отправку: удаляем наполнитель и большие коробки для оптимизации размера посылки.
                    </div>
                </div>
            </div>
            <div class="accordion-item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <h2 class="accordion-header" id="accordion-forwarding-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-forwarding-collapseThree" aria-expanded="false" aria-controls="accordion-forwarding-collapseThree">
                        Быстрая отправка
                    </button>
                </h2>
                <div id="accordion-forwarding-collapseThree" class="accordion-collapse collapse" aria-labelledby="accordion-forwarding-headingThree" data-bs-parent="#accordion-forwarding">
                    <div class="accordion-body">
                        У вас “горят сроки”? Вам нужно максимально сократить время доставки или удовлетворить самых требовательных заказчиков, которым “нужно на вчера”?  
                        Мы прикладываем максимум усилий для того, чтобы посылка отправилась как можно быстрее.
                    </div>
                </div>
            </div>


            <div class="accordion-item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <h2 class="accordion-header" id="accordion-forwarding-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-forwarding-collapseFour" aria-expanded="false" aria-controls="accordion-forwarding-collapseFour">
                        Ответственное хранение
                    </button>
                </h2>
                <div id="accordion-forwarding-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordion-forwarding-headingFour" data-bs-parent="#accordion-forwarding">
                    <div class="accordion-body">
                        Соблюдаем все правила хранения и перевозки, проводим мероприятия гарантирующие сохранность Ваших товаров. Наши склады с отоплением, регулировкой температурного режима и вентиляцией, оборудованы видеокамерами и противопожарными системами сигнализаций.
                    </div>
                </div>
            </div>

            <div class="accordion-item" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <h2 class="accordion-header" id="accordion-forwarding-headingFife">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-forwarding-collapseFife" aria-expanded="false" aria-controls="accordion-forwarding-collapseFife">
                      Проверка на брак
                    </button>
                </h2>
                <div id="accordion-forwarding-collapseFife" class="accordion-collapse collapse" aria-labelledby="accordion-forwarding-headingFife" data-bs-parent="#accordion-forwarding">
                    <div class="accordion-body">
                        Мы стараемся со своей стороны подстраховать Вас от неприятных сюрпризов, поэтому каждую посылку мы проверяем на явный брак. При этом проводим видеофиксацию с оформление необходимых документов.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
