<div class="warehouse">
    <div class="container">
        <div class="warehouse__tite" data-aos="fade-up">Наши склады</div>
        <div class="warehouse__subtitle" data-aos="fade-up">Каждый из сотрудников нашей компании – это важное звено процесса грузоперевозки, ведь без качественной упаковки и погрузки ваши вещи могут при транспортировке потерять свой внешний вид. Мы предусмотрели подобное событий и привлекли к работе профессионалов в сфере погрузки и упаковки, поэтому можем смело гарантировать сохранность ваших грузов.</div>
        <div class="decoration-right-square"></div>
        <div class="warehouse__slider" data-aos="fade-up">
            <div>
                <a href="assets/img/warehouse-1.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-1.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-2.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-2.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-3.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-3.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-1.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-1.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-2.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-2.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-3.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-3.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-1.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-1.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-2.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-2.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
            <div>
                <a href="assets/img/warehouse-3.jpg" class="fancybox" data-fancybox="gallery" data-caption="Caption #1">
                  <img src="assets/img/warehouse-3.jpg" class="img-fluid" alt="warehouse">
                </a>
            </div>
        </div>
        <div class="warehouse__footer">
            <div class="container-arrows"></div>
            <div class="warehouse__pagingInfo"></div>
        </div>
    </div>
</div>
